<div class="large-8 large-centered columns">
    <div class="panel radius">
        <p>Комментарии:</p>
        <hr>
        {% for comment in comments %}
            <p>{{ comment.user.username }} - {{ comment.comments_date }}</p>
            <p>{{ comment.comments_text|linebreaks }}</p>
            <hr>
        {% endfor %}
    </div>
    {% if username %}
        <div class="panel radius">
            <form action="/blog/addcomment/{{ post.id }}/" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" class="button success tiny radius" value="Добавить комментарий">
            </form>
        </div>
    {% endif %}
</div><!--Comments-->