{% extends 'block.html' %}
{% load staticfiles %}

{% block text %}
    <div class="large-12 columns">
        <div class="panel radius shadow">
            <h1>Портреты</h1>
            <hr>
        {% for album in albums %}
            <h3>{{ album.title }}</h3>
            <div class="large-3 large-centered columns">
            <a href="/gallery/{{ album.biography_id }}/" class="th radius">
            <img src="{{ album.img.url }}" width="200" height="250" >
            </a>
            <hr>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}