{% extends 'block.html' %}
{% load staticfiles %}


{% block title %}
{{ post.title }}
{% endblock %}

{% block extra_css %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/css.css' %}">
{% endblock %}


{% block article %}
{% include 'blog/includes/top_bar.html' %}
<div class="panel radius">
    <a href="/" class="fi-home"> На Главную </a>
    <h2>{{ post.title }}</h2>
    <h6 id="head6">Дата публикации: {{ post.date }}</h6>
        <article>
            <p><a href="/gallery/{{ post.id }}/"><img src="{{ post.image.url }}" class="leftfoto th radius" title="{{ post.title }}" width="250px" height="250px"></a>
                {% autoescape off %}<!--Tags CK-editor-->
                {{ post.body }}
                {% endautoescape %}
            </p>
        </article>
    <div class="large-8 large-centered columns">
        {% if post.video %}
            <iframe width="640" height="480" src="{{ post.video }}" frameborder="0" allowfullscreen></iframe>
        {% endif %}
    </div>
</div>
{% include 'blog/includes/comments.html' %}
{% endblock %}